<title>{{ .Title }}</title>
<link rel="shortcut icon" href="{{ .Site.BaseURL }}{{ .Site.Params.favicon }}">

<!-- Bootstrap -->
<link href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.no-icons.min.css" rel="stylesheet">

<!-- Icons -->
<script defer src="https://use.fontawesome.com/releases/v5.0.11/js/all.js" integrity="sha384-ImVoB8Er8knetgQakxuBS4G3RSkyD8IZVVQCAnmRJrDwqJFYUE4YOv+DbIofcO9C" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/jpswalsh/academicons@1/css/academicons.min.css">

<!-- Fonts -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alice|Open+Sans:400,300,700">

<!-- Set up Google font linking -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

<!-- Marcellus Small-Caps -->
<link href="https://fonts.googleapis.com/css2?family=Marcellus+SC&display=swap" rel="stylesheet">

<!-- Oranienbaum -->
<link href="https://fonts.googleapis.com/css2?family=Oranienbaum&display=swap" rel="stylesheet">

<!-- Pompiere -->
<link href="https://fonts.googleapis.com/css2?family=Pompiere&display=swap" rel="stylesheet">

<!-- Flamenco -->
<link href="https://fonts.googleapis.com/css2?family=Flamenco&display=swap" rel="stylesheet">

<!-- Geostar -->
<link href="https://fonts.googleapis.com/css2?family=Geostar&display=swap" rel="stylesheet">

{{ $styles := resources.Get "css/styles.css" }}
{{ $css := $styles | resources.Minify | resources.Fingerprint "sha512" }}
<link rel="stylesheet" href="{{ $css.Permalink }}" integrity="{{ $css.Data.Integrity }}">

<!-- Share this --> 
{{ if .Site.Params.customsharethis }}
<script type="text/javascript" src="//platform-api.sharethis.com/js/sharethis.js#property={{ .Site.Params.sharethis.property }}&product=custom-share-buttons"></script>
{{ end }}
